
set -g prefix C-a #set prefix as ctrl+a 
set-option -g mouse on
set -g set-clipboard on
set -g default-terminal 'screen-256color' #支持256 若需要支持 24bit 真彩 则改为其他 term
# set -g default-terminal 'xterm-kitty'
set -ga terminal-overrides ',xterm-kitty:Tc'  # 告诉 tmux 外层 Kitty 支持真彩色
set -ga terminal-overrides ",alacritty*:Tc"
set -ga terminal-overrides ',xterm-256color:Tc'

unbind '"' 
bind - splitw -v -c '#{pane_current_path}' # 垂直方向新增面板，默认进入当前目录
unbind %
bind '\' splitw -h -c '#{pane_current_path}' # 水平方向新增面板，默认进入当前目录

bind 'k' clear-history

set-option -g renumber-windows   on    # 关掉某个窗口后，编号重排
set -g display-panes-time 10000 # PREFIX-Q 显示编号的驻留时长，单位 ms
# 自定义起始下标
set -g base-index 1 # 设置窗口的起始下标为1
set -g pane-base-index 1 # 设置面板的起始下标为1
# 关闭默认的rename机制(减少性能开销)
setw -g automatic-rename off
setw -g allow-rename off

#================================= status bar ======================================
bind r source-file ~/.tmux.conf \; display-message "Config reloaded.." #prefix +r  reload configuration  and echo msg
set -g status-position bottom
set -g status-interval 1 # 状态栏刷新时间
set -g status-justify left # 状态栏列表左对齐
setw -g monitor-activity on # 非当前窗口有内容更新时在状态栏通知

set -g status-bg default # 设置状态栏背景黑色
set -g status-fg yellow # 设置状态栏前景黄色
set -g status-style "fg=yellow" # 状态栏前景背景色

set -g status-left "#[fg=blue]TMUX #[fg=yellow]💿 #S " # 状态栏左侧内容
set -g status-right '#{?client_prefix,#[fg=red]Prefix#[default],} Continuum status: #{continuum_status}' # 状态栏右侧内容 是否启用prefix 和 备份状态
set -g status-left-length 300 # 状态栏左边长度300
set -g status-right-length 500 # 状态栏左边长度500

set -wg window-status-format " #I #W " # 状态栏窗口名称格式
set -wg window-status-current-format " #[fg=red]#I #W#F " # 状态栏当前窗口名称格式(#I：序号，#w：窗口名称，#F：间隔符)
set -wg window-status-separator "" # 状态栏窗口名称之间的间隔
set -wg window-status-current-style "bg=default" # 状态栏当前窗口名称的样式
set -wg window-status-last-style "bg=default" # 状态栏最后一个窗口名称的样式

set -g message-style "bg=default, fg=#91A8BA" # 指定消息通知的前景、后景色

# # need tmux 3.2 or highter 绑定快捷键 prefix + p 调用弹窗会话
# bind-key p run-shell ' \
#   width=${1:-80%}; \
#   height=${2:-80%}; \
#   if [ "$(tmux display-message -p -F "#{session_name}")" = "popup" ]; then \
#     tmux detach-client; \
#   else \
#     tmux popup -d "#{pane_current_path}" -xC -yC -w$width -h$height \
#     -E "tmux set-window-option -t popup status off; \
#     tmux attach -t popup || tmux new -s popup \;
#     "; \
#   fi \
# '
